# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=

# Internal microservices
IDENTITY_MS_HOST=localhost
IDENTITY_MS_PORT=3011

# Key
INTERNAL_API_KEY=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_QUEUE_NAME=